{% extends 'guest/base.html' %}

{% block title %}Employer Manage Course{% endblock %}
{% block employer_chat %}active{% endblock %}

{% load crispy_forms_tags %}
{% block content %}

<div class="text-center">
    <h1 class="display-1">Manage Course</h1>
    <div class="small text-muted mb-5">Create or edit course.</div>
</div>

<div class="row justify-content-md-center mb-4">
    <div class="card p-0 w-50 three-bg border-0">
        <div class="card-header bg-dark text-center">
            <small class="one bebas-neue">Create Course</small>
        </div>
        <div class="card-body">
            <div class="card">
                <div class="card-body">
                    <form class="form crispy-form" method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-dark" type="submit">Save</button>
                        <a class="btn btn-dark" href="{% url 'ttfjobs:employer_courses' %}" role="button">Back</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
