{% extends 'guest/base.html' %}
{% block title %}Candidate Register{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<div class="text-center">
    <h1 class="display-1">Register</h1>
    <div class="small text-muted mb-5">Candidates: enter your details below to register.</div>
</div>

<div class="row justify-content-md-center">
    <div class="card p-0 w-50 bg-primary bg-register">
        <div class="card-body">
            <form class="form crispy-form" enctype="multipart/form-data" method="POST" action="{% url 'ttfjobs:candidate_register' %}">
                <div class="text-sm">
                {{user_creation_form_extended|crispy}}
                {{candidate_profile_form|crispy}}
                </div>
                <input class="btn btn-dark" type="submit" value="Register">
            </form>
        </div>
        <div class="card-footer bg-dark text-center">
            <small class="text-muted bebas-neue">Already have an account? Login as <a class="one text-decoration-none" href="{% url 'ttfjobs:candidate_login' %}">Candidate</a>.</small>
    </div>
</div>

{% endblock %}