{% extends 'guest/base.html' %}
{% block title %}Candidate{% endblock %}
{% block candidate %}active{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="display-1">Candidate</h1>
    <div class="small text-muted mb-5">Candidates: login or register by clicking on corresponding cards below.</div>
</div>

<div class="row justify-content-md-center">
    <div class="card-group w-50">
        <a class="nav-link card stretched-link bg-primary bg-login text-white text-decoration-none p-0 m-1 border-0" href="{% url 'ttfjobs:candidate_login' %}">
            <div class="card-body row pb-5">
                <div class="col">
                    <h1 class="display-6 text-uppercase">Login</h6>
                </div>
            </div>
            <div class="card-footer bg-dark">
                <small class="text-muted bebas-neue">Click me to login.</small>
            </div>
        </a>

        <a class="nav-link card stretched-link bg-primary bg-register text-white text-decoration-none p-0 m-1 border-0" href="{% url 'ttfjobs:candidate_register' %}">
            <div class="card-body row pb-5">
                <div class="col">
                    <h1 class="display-6 text-uppercase">Register</h6>
                </div>
            </div>
            <div class="card-footer bg-dark">
                <small class="text-muted bebas-neue">Click me to register.</small>
            </div>
        </a>
    </div>
</div>
{% endblock %}