{% extends 'guest/base.html' %}
{% block title %}Candidate Chat{% endblock %}
{% block candidate_chat %}active{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

<div class="text-center">
    <h1 class="display-1">Chat</h1>
    <div class="small text-muted mb-5">Select affiliated employer to chat.</div>
</div>

<div class="row justify-content-md-center">
    <div class="card p-0 w-50 three-bg border-0 mb-4">
        <div class="card-header bg-dark text-center">
            <small class="one bebas-neue">Employer information</small>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr class="bebas-neue font-tiny">
                            <td>Picture</td>
                            <td>First name</td>
                            <td>Last name</td>
                            <td>Email</td>
                            <td>Company</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bebas-neue font-smaller">
                            <td class="border-0"><img class="small-img rounded"
                                    src="{{ employer.user.employerprofile.picture.url }}" /></td>
                            <td class="border-0">{{ employer.user.first_name }}</td>
                            <td class="border-0">{{ employer.user.last_name }}</td>
                            <td class="border-0">{{ employer.user.email }}</td>
                            <td class="border-0">{{ employer.user.employerprofile.company_name }}</td>
                            <td class="border-0"><a class="btn btn-dark btn-sm"
                                    href="{% url 'ttfjobs:candidate_chat_message_create' employer.user.id %}">Message</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% if chat_messages %}
<div class="row justify-content-md-center">
    <div class="card p-0 w-50 three-bg border-0 mb-4">
        <div class="card-header bg-dark text-center">
            <small class="one bebas-neue">Received messages</small>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr class="bebas-neue font-tiny">
                            <td>Subject</td>
                            <td>Message</td>
                            <td>Received at</td>
                            <td>Has been read</td>
                            <td>Action</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for message in chat_messages %}
                        <tr class="bebas-neue font-smaller">
                            <td class="border-0">{{ message.subject|truncatewords_html:8 }}</th>
                            <td class="border-0">{{ message.message|truncatewords_html:8 }}</td>
                            <td class="border-0">{{ message.created_at }}</td>
                            <td class="border-0">{{ message.has_been_read|yesno:"Yes, No" }}</td>
                            <td class="border-0"><a class="btn btn-dark btn-sm"
                                    href="{% url 'ttfjobs:delete_message' message.id %}">Hide</a></td>
                            <td class="border-0"><a class="btn btn-dark btn-sm"
                                    href="{% url 'ttfjobs:candidate_chat_message_view' message.id %}">View</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="row justify-content-md-center mb-4">
    <div class="alert alert-info bebas-neue w-25 text-center mb-0" role="alert">No received messages.</div>
</div>
{% endif %}

{% if sent_messages %}
<div class="row justify-content-md-center">
    <div class="card p-0 w-50 three-bg border-0 mb-4">
        <div class="card-header bg-dark text-center">
            <small class="one bebas-neue">Sent messages</small>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr class="bebas-neue font-tiny">
                            <td>Subject</td>
                            <td>Message</td>
                            <td>Sent at</td>
                            <td>Sent to</td>
                            <td>Action</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for message in sent_messages %}
                        <tr class="bebas-neue font-smaller">
                            <td class="border-0">{{ message.subject|truncatewords_html:8 }}</th>
                            <td class="border-0">{{ message.message|truncatewords_html:8 }}</td>
                            <td class="border-0">{{ message.created_at }}</td>
                            <td class="border-0">{{ message.receiver.first_name }}&nbsp;{{ message.receiver.last_name }}
                            </td>
                            <td class="border-0"><a class="btn btn-dark btn-sm"
                                    href="{% url 'ttfjobs:delete_message' message.id %}">Hide</a></td>
                            <td class="border-0"><a class="btn btn-dark btn-sm" href="{% url 'ttfjobs:candidate_chat_message_view_sent' message.id %}">View</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="row justify-content-md-center mb-4">
    <div class="alert alert-info bebas-neue w-25 text-center mb-0" role="alert">No sent messages.</div>
</div>
{% endif %}

<div class="col text-center">
    <a class="btn btn-dark" href="{% url 'ttfjobs:candidate_chat_archive' %}" class="btn btn-primary">Archive</a>
</div>

{% endblock %}