{% extends 'guest/base.html' %}
{% block title %}Candidate Chat Archive{% endblock %}
{% block candidate_chat %}active{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
{% load custom_tags %}

<div class="text-center">
    <h1 class="display-1">Archive</h1>
    <div class="small text-muted mb-5">Select to view archived messages below.</div>
</div>

<div class="col text-center mb-4">
    <a class="btn btn-dark" href="{% url 'ttfjobs:candidate_chat' %}" role="button">Back</a>
</div>

{% if archived_messages %}
<div class="row justify-content-md-center">
    <div class="card p-0 w-50 three-bg border-0 mb-4">
        <div class="card-header bg-dark text-center">
            <small class="one bebas-neue">Archived messages</small>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr class="bebas-neue font-tiny">
                            <td>Subject</td>
                            <td>Message</td>
                            <td>Sent at</td>
                            <td>Sent to</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for message in archived_messages %}
                        <tr class="bebas-neue font-smaller">
                            <td class="border-0">{{ message.message.subject|truncatewords_html:8 }}</th>
                            <td class="border-0">{{ message.message.message|truncatewords_html:8 }}</td>
                            <td class="border-0">{{ message.message.created_at }}</td>
                            <td class="border-0">{{ message.message.receiver.first_name }}&nbsp;{{ message.message.receiver.last_name }}</td>
                            <td class="border-0"><a class="btn btn-dark btn-sm" href="{% url 'ttfjobs:candidate_chat_archive_message' message.id %}">View</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="row justify-content-md-center mb-4">
    <div class="alert alert-info bebas-neue w-25 text-center mb-0" role="alert">No archived messages.</div>
</div>
{% endif %}

{% endblock %}